body{
    background-color: #09070a;
}
#clock {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px solid ;
    border-radius: .5rem;
    background-color:#fff;
  }